h1 {
  font-width: bold;
  color: green;
  font: Arial;
  font-size:50px;
}

.welcome {
  font: Arial;
  color:green;
  background-color:black;
  opacity: 0.5;
}
p {
  font-size: 30px;
  font: Arial;
}
